
html > body {
	
	.word-btn{
	  display: block;
	  color: black;
	  border: 2px solid #666;
	  cursor: pointer;
	  &:hover{
	  	text-decoration: none;
	  }
	}

	.word-btn-danger{
	  color: #d9534f;
	  border: 2px solid #d43f3a;
	}


	.word-btn-warning{
	  color: #f0ad4e;
	  border: 2px solid #eea236;
	}
}