#mission-list{

}
#mission-form{
	
	#forminner-mission{
		position: relative;
		.form_board {
		}

		.list_send_back_product, .list_send_to_product, .list_send_product{
			tbody{
				tr{
					.state_1{

					}
				}
			}
		}
		.drawback_state_none{
			display: none;
		}
	}
}

#front-history{
	table td, table th{
		cursor: default;
	}
}

#front-list{
	.mission_state{
		ul{
			li{
				padding: 3px;
			}
		}
	}
}

#comment_list{
	ul{
		li{
			.subject{
				font-size: 11px;
				color: #999999;
			}
			.content{
				color: #666;
			}
			.op{
				display: none;
			}
			.wrapper{
				margin: 3px 0px;
				padding: 5px;
			}
			&:hover{
				background-color: #eee;
				.wrapper{
					background-color: #eee;
				}
				.op{
					padding: 7px;
					display: inline-block;
				}
			}
		}
	}
}